* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

.container-left {
    display: inline-block;
    width: 400px;
    margin-top: 30px;
    margin-left: 40px;
}

.container-right {
    display: inline-block;
    height: 100vh;
    width: 40%;
    position: absolute;
    left: 46%;
    top: 314px;

}

a {

    font-size: 14px;
    line-height: 100%;
    color: #17233D;
    cursor: pointer;
    margin-right: 12px;

}

img {
    position: relative;
    top: 144px;
    left: 90px;
}

h1 {

    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
    width: 582px;

}

p {
    margin-top: 34px;
    font-size: 23px;
    color: #4B505A;
}

button {
    width: 124px;
    height: 51px;
    border-radius: 10px;
    border: none;
    background: #6FBF44;

    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    cursor: pointer;

}

.button2 {
    width: 124px;
    height: 51px;
    border-radius: 10px;
    border: none;
    background: #6FBF44;
    position: relative;
    top: 40px;

    color: #6FBF44;
    background: none;

}

.button2:hover {
    opacity: 0.5;
}

button:hover {
    opacity: 0.5;
}

button:active {
    opacity: 0.8;
}

.button2:active {
    opacity: 0.8;
}

@media screen and (max-width: 600px) {
    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40%;

    }

    img {
       position: static;
       width: 90%;
    }

    h1 {
        line-height: 52px;
        font-size: 36px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }
    
    p{
    
     margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;

    }

    
    







}