* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-weight: 400px;
}

.container {
    height: 100vh;
    width: 100vw;
}

.container-left {
    display: inline-block;
    width: 60%;
    margin-top: 20%;
    padding-left: 136px;

}

.container-right {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

img {
    position: relative;
    top: 25%;
    right: 130px;

}

h1 {

    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    color: #5D5D7D;
    width: 368px;
}

p {

    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    opacity: 60%;
    margin: 15px 0;
    width: 540px;

}

button {
    width: 269px;
    height: 62px;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    background: #9499EA;

    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 28px;
    cursor: pointer;

}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

a {

    font-size: 28px;
    line-height: 100%;
    color: #5D5D7D;
    margin-right: 41px;
    cursor: pointer;

}

a:nth-child(2) {
    opacity: 40%;
}

a:hover {
    opacity: 0.4;
}

a:active {
    opacity: 0.8;
}

header {
    margin: 24px 0 0 57px;
}

@media screen and (max-width: 900px) {
    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
    }

    img {
        position: static;
        width: 90%;
    }

    header {
        display: none;
    }

    h1 {
        line-height: 52px;
        font-size: 36px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
        
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;

    }

    button{
        margin: 0 auto;
        display: block;
    }
}